.App {
  text-align: center;
  background-color: rgb(41, 41, 41);
}
body {
  padding-top: 60px;
  padding-bottom: 55px;
  
}
.ncicon{
  font-size:1.1em;
  color: rgb(255, 0, 76);
}
.title-main{
  color: rgb(0, 183, 255);
  font-size: 1.8em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0.5em;
}
.title{
  color: rgb(0, 183, 255);
  font-size: 1.8em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;

}
.date-main{
  color: rgb(0, 153, 255);
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 1.2em;
}
.date{
  color: rgb(0, 153, 255);
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  
}

.author-comments{
  color: rgb(255, 0, 106);
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  padding-left: 1em;
  margin-bottom: 2px;
}

.comment-icon{
margin-left: 0.5em;
margin-right: 0.5em;
width:25%;
}
.user{ 
  margin-bottom: 0px;
  margin-left:10em;
  
}
.upvote{
  margin-left:0.5em;
}

.nav-link :hover{
    background-color:blue;
}

.navbar-link> .active > a { 
  background-color: #EAB126 ; 
}
.Welcome{
  color: rgb(255, 0, 76);
}
