.App {
  text-align: center;
  background-color: rgb(41, 41, 41);
}
body {
  padding-top: 60px;
  padding-bottom: 55px;
}
.input-comment {
  background-color: rgba(0, 0, 0, 0);
  color: cornflowerblue;
  width: 90%;
  border-color: rgb(31, 30, 30);
  border-radius: 1em;
  margin-right: 3.5em;
  margin-left: 1em;
}

.ncicon {
  font-size: 1.1em;
  color: rgb(255, 0, 76);
}
.title-main {
  color: rgb(0, 183, 255);
  font-size: 1.8em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0.5em;
}
.title {
  color: rgb(0, 183, 255);
  font-size: 1.8em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}
.date-main {
  color: rgb(0, 153, 255);
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 1.2em;
}

.date {
  color: rgb(0, 153, 255);
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

.author-comments {
  color: rgb(255, 0, 106);
  text-align: left;

  margin-bottom: 2px;
}

.comment-icon {
  margin-left: 20%;
  margin-right: 0.5em;
}
.user {
  margin-bottom: 0px;
  margin-left: 8em;
}
.upvote {
  margin-left: 0.5em;
}

.nav-link :hover {
  background-color: blue;
}

.navbar-link > .active > a {
  background-color: #eab126;
}
.Welcome {
  color: rgb(255, 0, 76);
}

button.delete-button.btn.btn-dark {
  font-size: 15px;
  margin-bottom: 0.3em;
  color: rgb(255, 0, 76);
}
