.App {
  text-align: center;
  background-color: #212529;
  height: 100vh;
}
body {
  background-color: #212529;
}

section {
  padding-top: 65px;
  margin-bottom: 60px;
  background-color: #212529;
}

.ncicon {
  font-size: 1.1em;
  color: rgb(255, 0, 76);
  margin-right: 2em;
}
.title-main {
  color: rgb(0, 183, 255);
  font-size: 1.8em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0.5em;
}
.title {
  color: rgb(0, 183, 255);
  font-size: 1.8em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  color: rgb(255, 255, 255);
}
.code-icon {
  margin-right: 1em;
}
.footy-icon {
  margin-right: 1em;
}
.cooking-icon {
  margin-right: 1em;
}

.date-main {
  color: rgb(0, 153, 255);
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 1.2em;
}

select {
  height: 6vh;
  font-weight: bold;
  display: inline-flex;
  color: rgb(18, 179, 253);
  background-color: #212529;
  width: 50%;
  border: 10px;
  border-color: #212529;
}

.date {
  color: rgb(0, 153, 255);
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}
.input-comment {
  background-color: rgba(0, 0, 0, 0);
  color: cornflowerblue;
  width: 90%;
  border-color: rgb(31, 30, 30);
  border-radius: 1em;
  margin-right: 3.5em;
  margin-left: 1em;
}
.author-comments {
  text-align: left;
  color: rgb(212, 0, 255);
  font-size: 1em;
  padding-left: 1em;
}
.comment-footer {
  text-align: right;
  color: rgb(212, 0, 255);
  font-size: 1em;
}

.comment-icon {
  margin-left: 0.5em;
  width: 10%;
}
.comment-author {
  color: rgb(0, 183, 255);
  text-align: left;
  padding-left: 0.7em;
  font-size: 0.7em;
}
div.card-body {
  padding: 0px;
  text-align: left;
  padding-left: 0.7em;
  padding-bottom: 1em;
}

.user {
  padding-top: 0.5em;
}
.upvote {
  color: rgb(212, 0, 255);
  margin-left: 1em;
}

.downvote {
  color: rgb(212, 0, 255);
}

.Welcome {
  padding-top: 1em;
  color: rgb(255, 0, 76);
}
.error {
  padding-top: 5em;
  height: 100vh;
}
button.delete-button.btn.btn-dark {
  font-size: 15px;
  margin-bottom: 0.3em;
  color: rgb(255, 0, 76);
}
